@import url(../../feren/cinnamon/cinnamon.css);

.panel-top, .panel-bottom, .panel-left, .panel-right {
  background-color: transparent; }

#panelRight {
    padding-right: 10px;
    padding-left: 10px;
    border-image: url('panel.png') 5 6 5 5; }

#panelLeft {
    padding-left: 6px;
    padding-right: 6px; }

#panelLeft .applet-box:first-child {
    border-image: url('applet-box.png') 5 5 5 8; }

.applet-box:checked {
    border-image: url('hover-box.png') 5 5 5 8; }
