@import url(third-party-APPLET-stylesheets/weather.css);
@import url(third-party-APPLET-stylesheets/slingshot.css);
@import url(third-party-APPLET-stylesheets/stopwatch.css);
@import url(third-party-APPLET-stylesheets/zuromenu.css);


/* ###################################################################
 * Section common with Gnome Shell
 * ... contains a few cinnamon specific styles (rare occurences) 
 * ###################################################################*/
stage {
    font-family: 'Droid sans', Trebuchet MS, Liberation Sans, sans, sans-serif;
	font-size: 10pt;
	color: white;
}

/* small fonts */
.run-dialog-label, .run-dialog-error-label {
    font-size: 8pt;
}
/* small 7.5 pt */
.calendar-month-label, .calendar-day-base {
    font-size: 7.5pt;
}
/* small normal fonts */
.window-caption, .switcher-list {
    font-size: 8pt;
    font-weight: normal;
    color: #ffffff;
}
.cinnamon-link {
    color: #0000ff;
    text-decoration: underline;
}
.cinnamon-link:hover {
    color: #0000e0;
}

.label-shadow {
    color: rgba(255,255,255,0.5);
}

StScrollBar
{
  padding: 0px;
}

StScrollView.vfade
{
  -st-vfade-offset: 68px;
}

StScrollView StScrollBar
{
  min-width: 6px;
  min-height: 16px;
}


StScrollBar StBin#trough {
    background-color: rgba(233,233,233,0);
    border: none;
}

StScrollBar StButton#vhandle
{
    background-color: #DBDBDB;
    border: 0px rgba(0,0,0,0.4);
}

StScrollBar StButton#hhandle
{
    background-color: #DBDBDB;
    border: 0px rgba(114,159,207,0.5);
}

StScrollBar StButton#hhandle:hover,
StScrollBar StButton#vhandle:hover
{
    background-color: #C8CACE;
}

#Tooltip {
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    padding: 2px 8px;
    background-gradient-direction: vertical;
	background-gradient-start: #FBFBFB;
	background-gradient-end: #F9F9F9;
    color: #000000;
    font-size: 10pt;
    text-align: center;
    box-shadow: 0px 0px 0px #000;
}

/* ===================================================================
 * Shared button properties 
 * ===================================================================*/

.notification-button, .notification-icon-button, .modal-dialog-button-box .modal-dialog-button {
  min-height: 20px;
  padding: 5px 32px;
  transition-duration: 0;
  border-radius: 2px;
  text-shadow: 0 1px rgba(255, 255, 255, 0);
  color: #000;
  border: 1px solid rgba(26, 28, 34, 0.15);
  background-color: rgba(102, 109, 132, 0.15); }
  .notification-button:hover, .notification-icon-button:hover, .modal-dialog-button-box .modal-dialog-button:hover {
    text-shadow: 0 1px rgba(255, 255, 255, 0);
    color: #000;
    border: 1px solid rgba(26, 28, 34, 0.25);
    background-color: rgba(119, 127, 151, 0.35); }
  .notification-button:focus, .notification-icon-button:focus, .modal-dialog-button-box .modal-dialog-button:focus {
    color: #000; }
  .notification-button:active, .notification-icon-button:active, .modal-dialog-button-box .modal-dialog-button:active {
    text-shadow: 0 1px rgba(255, 255, 255, 0);
    color: #ffffff;
    border: 1px solid #5294E2;
    background-gradient-direction: vertical;
background-gradient-start: #2C84FF;
background-gradient-end: #006AFF; }
  .notification-button:insensitive, .notification-icon-button:insensitive, .modal-dialog-button-box .modal-dialog-button:insensitive {
    text-shadow: 0 1px rgba(255, 255, 255, 0);
    color: #5d626e;
    border: 1px solid rgba(26, 28, 34, 0.35);
    background-color: rgba(102, 109, 132, 0.2); }

/* ===================================================================
 * PopupMenu (popupMenu.js) 
 * ===================================================================*/

/* Fix the bricking of Popup Menu in Cinnamon 3.2 */
.menu {
	border-radius: 3px;
	background-color: rgba(0,0,0,1);
	border-width: 1px;
	border-color: #1c1c1c;
	color: #fff;
	
}

.popup-menu-boxpointer {
	-arrow-border-radius: 3px;
	-arrow-background-color: rgba(0,0,0,1);
	-arrow-border-width: 1px;
	-arrow-border-color: #1c1c1c;
	-arrow-base: 18px;
	-arrow-rise: 10px;

}
.popup-menu {
	color: #fff;
        min-width: 200px;
        font-size: 9.5pt;
}
.popup-submenu-menu-item:open {
	background-color: #005fe5;
        color: #fff;
        font-weight: normal;
        font-size: 10pt;
}
.popup-sub-menu {
        background-color: #1c1c1c;
        border: 1px solid #1c1c1c;
        border-left: 0px;
        border-right: 0px;
}
.popup-sub-menu .popup-menu-item:ltr {
	padding-right: 0em;
}
.popup-sub-menu .popup-menu-item:rtl {
	padding-left: 0em;
}
.popup-sub-menu StScrollBar {
	padding: 4px;
}
.popup-sub-menu StScrollBar StBin#trough {
	border-width: 0px;
}
.popup-sub-menu StScrollBar StBin#vhandle {
	background-color: rgba(153,153,153,1);
}
.popup-sub-menu StScrollBar StBin#vhandle:hover {
	background-color: rgba(102,102,102,1);
}
.popup-combo-menu {
	border: 1px solid #ccc;
        background-color: #000;
        padding: 0em 0em;
        font-size: 9.5pt;
}
/* The remaining popup-menu sizing is all done in ems, so that if you
 * override .popup-menu.font-size, everything else will scale with it.
 */
.popup-menu-content {
        padding: 1em 0em;
}
.popup-menu-item {
	padding: .4em 1.75em;
        spacing: 1em;
	border: solid transparent;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
}
.popup-menu-item:active {
	background-gradient-direction: vertical;
	background-gradient-start: #2C84FF;
	background-gradient-end: #006aff;
        color: #fff;
}
.popup-menu-item:insensitive {
	color: #878787;
}
.popup-image-menu-item {
}
.popup-combobox-item {
	spacing: 1em;
}
.popup-separator-menu-item {
	background-color: #858585;
	height: 1px;
}
.popup-alternating-menu-item:alternate {
	font-weight: bold;
}
.popup-slider-menu-item {
        height: 1.2em;
        min-width: 15em;
        -slider-height: 2px;
        -slider-background-color: rgba(255,255,255,0.2);
        -slider-border-color: transparent;
        -slider-active-background-color: #006aff;
        -slider-active-border-color: #006aff;
        -slider-border-width: 1px;
}

.popup-device-menu-item {
	spacing: .5em;
}
.popup-inactive-menu-item {
	font-weight: normal;
	color: #878787;
}
.popup-subtitle-menu-item {
	font-weight: bold;
}
.popup-menu-icon {
	icon-size: 1.14em;
}
/* Switches (to be used in menus) */
.toggle-switch {
	width: 64px;
	height: 22px;
}
.toggle-switch-us {
	background-image: url("toggle-off.svg");
}
.toggle-switch-us:checked {
	background-image: url("toggle-on.svg");
}
.toggle-switch-intl {
	background-image: url("toggle-off.svg");
}
.toggle-switch-intl:checked {
	background-image: url("toggle-on.svg");
}
.nm-menu-item-icons {
	spacing: .5em;
}

/* ===================================================================
 * Panel (panel.js)
 * ===================================================================*/

/*Provide Support For Transparent Panels*/
#panel {
    background-color: rgba(0,0,0,1);
    box-shadow: inset 0 0px 0px #000;/*a little hack*/
    color: white;
    font-size: 10pt;
    font-weight: normal;
    height: 25px;
    background-blur: 2.5;
}

.panel-transparent,
#panel.panel-transparent, .panel-transparent-with-shadow, #panel.panel-transparent-with-shadow, .panel-semi-transparent, #panel.panel-semi-transparent {
    background-color: rgba(11,11,11,0.5);
    box-shadow: inset 0 0px 0px #000;/*a little hack*/
    color: white;
    font-size: 10pt;
    font-weight: normal;
    height: 25px;
    background-blur: 2.5;
}

#panelLeft {
    spacing: 4px;
}

#panelCenter {
    spacing: 4px;
}

#panelLeft:dnd {
    background-gradient-direction: vertical;
	background-gradient-start: rgba(255,0,0,0.4);
	background-gradient-end: rgba(255,0,0,0.4);
background-blur: 2.5;
}
#panelCenter:dnd {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(0,255,0,0.4);
	background-gradient-end: rgba(0,255,0,0.4);
background-blur: 2.5;
}
#panelRight:dnd {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(0,0,255,0.4);
	background-gradient-end: rgba(0,0,255,0.4);
background-blur: 2.5;
}

#panelLeft:ltr {
    padding-right: 0px;
}

#panelLeft:rtl {
    padding-left: 0px;
}

#panelRight:ltr {
    padding-left: 0px;
    spacing: 0px;
}

#panelRight:rtl {
    padding-right: 0px;
    spacing: 0px;
}

.panel-button,
.panel-status-button {
	-natural-hpadding: 5px;
	-minimum-hpadding: 5px;
	font-weight: normal;
	color: #fff;
	border: 0px solid rgba(255,255,255,0);
	border-top: 0px;
	border-bottom: 0px;
	transition-duration: 200;
}
.panel-button:hover,
.panel-status-button:hover {
	border: 0px solid rgba(255,255,255,0);
	border-top: 0px;
	border-bottom: 0px;
	color: white;
	background-gradient-direction: vertical;
	background-gradient-end: rgba(255,255,255,0.4);
	background-gradient-start: rgba(255,255,255,0.4);
}

.panel-menu {
	-boxpointer-gap: 4px
}
.popup-menu-item-dot {
}
.system-status-icon {
	icon-size: 1.09em;
}

.panel-corner {
    -panel-corner-radius: 0px;
    -panel-corner-background-color: black;
    -panel-corner-inner-border-width: 2px;
    -panel-corner-inner-border-color: transparent;
    -panel-corner-outer-border-width: 1px;
    -panel-corner-outer-border-color: #536272;
}

.panel-corner:active,
.panel-corner:overview,
.panel-corner:focus {
    -panel-corner-inner-border-color: rgba(0,0,0,0.8);
}

#appMenu {
    spacing: 4px;
}

.panel-button #appMenuIcon {
    app-icon-bottom-clip: 1px;
}

.panel-button:active #appMenuIcon,
.panel-button:checked #appMenuIcon,
.panel-button:focus #appMenuIcon {
    app-icon-bottom-clip: 2px;
}

.panel-button {
    -natural-hpadding: 6px;
    -minimum-hpadding: 2px;
    font-weight: normal;
    color: white;
    text-shadow: black 0px 1px 1px;
    transition-duration: 100;
}

.panel-button:hover {
    color: white;
    text-shadow: black 0px 2px 2px;
}

.panel-button:active,
.panel-button:overview,
.panel-button:focus {
    
}

.panel-button:active > .system-status-icon,
.panel-button:checked > .system-status-icon,
.panel-button:focus > .system-status-icon {
    icon-shadow: black 0px 2px 2px;
}

.panel-menu {
    -boxpointer-gap: 4px
}

.popup-menu-item-dot {

}

.system-status-icon {
    icon-size: 1.14em;
}
/* ===================================================================
 * Overview 
 * ===================================================================*/

#overview {
    spacing: 12px;
}

.workspace-controls {
    visible-height: 32px; /* Amount visible before hovering */
}

.workspace-thumbnails-background {
    border: 1px solid rgba(128, 128, 128, 0.4);
    border-right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
}

.workspace-thumbnails-background:rtl {
    border-right: 1px;
    border-left: 0px;
}

.workspace-thumbnails {
    spacing: 7px;
}

.workspace-add-button {
    background-image: url("add-workspace.svg");
    height: 200px;
    width: 40px;
    border-width: 2px;
    background-color: rgba(0,0,0,0.8);
    border-color: rgba(0,0,0,0);
    border-right-width: 0px;
    transition-duration: 300;
}

.workspace-add-button:hover {
    background-image: url("add-workspace-hover.svg");
    background-color: rgba(66,66,66,1);
    border-color: rgba(66,66,66,0);
    transition-duration: 300;
}

.workspace-close-button {
    background-image: url("close-window.svg");
    height: 24px;
    width: 24px;
    -cinnamon-close-overlap: 20px;
}

.workspace-thumbnail-indicator {
    outline: 2px solid white;
    border: 1px solid #888;
}

.window-caption {
    color: #303030;
    background-color: rgba(255,255,255,1);
	border-radius: 3px;
    font-size: 10pt;
    font-weight: normal;
    padding: 4px;
    -cinnamon-caption-spacing: 8px;
}

.window-close {
    background-image: url("close-window.svg");
    height: 24px;
    width: 24px;
    -cinnamon-close-overlap: 20px;
}

.window-close:rtl {
}

.window-close-area {
  background-image: url("trash.svg");
  background-color: rgba(255,255,255,1);
  border: 2px solid rgba(32,74,135,1);
  border-bottom-width: 0px;
  height: 120px;
  width: 200px;
}

.icon-grid {
    spacing: 36px;
    -cinnamon-grid-item-size: 118px;
}

.icon-grid .overview-icon {
    icon-size: 96px;
}

.overview-icon {
    padding: 3px;
    border: 1px rgba(0,0,0,0);
    font-size: 7.5pt;
    color: white;
    transition-duration: 100;
    text-align: center;
}

.expo-background {
	background-gradient-start: rgba(0,0,0,0.5);
	background-gradient-end: rgba(0,0,0,0.5);
    background-gradient-direction: vertical
}

/* ===================================================================
* Desklets (desklet.js)
* ===================================================================*/
.desklet {        
    color: #fff;    
}

.desklet-with-borders {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.desklet-with-borders-and-header {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-top: 1px;
}

.desklet-header { 
    font-size: 10.5pt;
    border-radius: 3px;
    border-bottom: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 6px;
}

.desklet-drag-placeholder { 
    border: 2px solid #006aff;
    background-color: rgba(0,106,255, 0.3);
}

/* ===================================================================
 * Clock Desklet (desklet.js) 
 * ===================================================================*/
.clock-desklet-label {
    color: #fff;
} 


/* ===================================================================
 * Looking Glass 
 * ===================================================================*/

#LookingGlassDialog
{
    background-color: rgba(0,0,0,1);
    border: 1px rgba(32,74,135,1);
	spacing: 4px;
	padding: 4px;
	color: #ffffff;
}

#LookingGlassDialog > #Toolbar
{
  border: 1px rgba(32,74,135,1);
}

#LookingGlassDialog .labels {
  spacing: 4px;
}

#LookingGlassDialog .notebook-tab {
  padding: 2px;
}

#LookingGlassDialog .notebook-tab:hover {
  color: #FFFFFF;
}

#LookingGlassDialog .notebook-tab:selected {
  border: 1px rgba(32,74,135,1);
  padding: 5px;
}

#LookingGlassDialog .lg-inspector-title {
    font-weight: normal;
    padding-bottom: 8px;
}

.lg-dialog StLabel
{
  color: #cccccc;
}

.lg-dialog StEntry
{
  color: #ffffff;
  selection-background-color: #cccccc;
  selected-color: white;
}

.lg-obj-inspector-title
{
  spacing: 4px;
}

.lg-obj-inspector-button
{
  border: 1px rgba(32,74,135,1);
  padding: 4px;
}

.lg-obj-inspector-button:hover
{
  border: 1px rgba(32,74,135,1);
}

.lg-dialog .cinnamon-link
{
  color: #006aff;
}

.lg-dialog .cinnamon-link:hover
{
  color: #006aff;
}

#LookingGlassDialog StBoxLayout#EvalBox
{
  padding: 4px;
  spacing: 4px;
}

#LookingGlassDialog StBoxLayout#ResultsArea
{
  spacing: 4px;
}

#lookingGlassExtensions {
    padding: 4px;
}

.lg-extension-list {
    padding: 4px;
    spacing: 6px;
}

.lg-extension {
    border: 1px rgba(32,74,135,1);
    padding: 4px;
}

.lg-extension-name {
    font-weight: normal;
}

.lg-extension-meta {
    spacing: 6px;
}

#LookingGlassPropertyInspector {
    background-color: rgba(0,0,0,1);
    border: 1px rgba(32,74,135,1);
    padding: 6px;
    color: #cccccc;
}

/* ===================================================================
 * Date applet 
 * ===================================================================*/

.calendar {
	padding: .4em 1.75em;
	spacing-rows: 0px;
	spacing-columns: 0px;
}
.calendar-month-label {
        color: #fff;
        font-size: 9pt;
        font-weight: normal;
        padding: 4px;
}
.calendar-change-month-back {
        width: 20px;
        height: 20px;
        background-image: url("calendar-arrow-left.svg");
        border-radius: 2px;
}
.calendar-change-month-back:rtl {
	background-image: url("calendar-arrow-right.svg");
}
.calendar-change-month-back:hover, .calendar-change-month-back:active {
	background-image: url("calendar-arrow-left.svg");
}
.calendar-change-month-back:rtl:hover, .calendar-change-month-back:rtl:active {
	background-image: url("calendar-arrow-right.svg");
}
.calendar-change-month-forward {
        width: 20px;
        height: 20px;
        background-image: url("calendar-arrow-right.svg");
        border-radius: 2px;
}
.calendar-change-month-forward:rtl {
	background-image: url("calendar-arrow-left.svg");
}
.calendar-change-month-forward:hover, .calendar-change-month-forward:active {
        background-image: url("calendar-arrow-right.svg");
}
.calendar-change-month-forward:rtl:hover, .calendar-change-month-forward:rtl:active {
	background-image: url("calendar-arrow-left.svg");
}
.datemenu-date-label {
	padding: .4em 1.75em;
	font-weight: normal;
	font-size: 9.5pt;
	color: #fff;
}
.calendar-day-base {
	font-size: 9pt;
	text-align: center;
	width: 2.4em;
	height: 2.4em;
}
.calendar-day-heading {
	color: #fff;
	padding-top: 1em;
	font-weight: normal;
}
.calendar-week-number {
	color: #fff;
	font-weight: normal;
}
/* Hack used in lieu of border-collapse - see calendar.js */
.calendar-day:ltr {
	border: 1px solid #858585;
        border-top-width: 0;
        border-left-width: 0;
}
.calendar-day-top:ltr {
	border-top-width: 1px;
}
.calendar-day-left:ltr {
	border-left-width: 1px;
}
.calendar-day:rtl {
	color: #333;
	border-top-width: 0;
	border-right-width: 0;
	border-radius: 2px;
}
.calendar-day-top:rtl {
	border-top-width: 1px;
}
.calendar-day-left:rtl {
	border-right-width: 1px;
}
.calendar-work-day {
}
.calendar-nonwork-day {
	background-color: transparent;
}
.calendar-today {
	color: #fff;
        background-gradient-direction: vertical;
	background-gradient-start: #2C84FF;
	background-gradient-end: #006aff;
        font-weight: normal;
}
.calendar-other-month-day {
	color: #858585;
}
.calendar-day-with-events {
	font-weight: normal;
}

/* ===================================================================
 * Notifications
 * ===================================================================*/

#notification {
    font-size: 10pt;
    border-radius: 3px;
    background-gradient-direction: vertical;
	background-gradient-start: #FBFBFB;
	background-gradient-end: #F9F9F9;
    border: 1px solid #DBDBDB;
    padding: 8px 8px 8px 8px;
    spacing-rows: 10px;
    spacing-columns: 10px;
    margin-from-right-edge-of-screen: 20px;
    margin-from-top-edge-of-screen: 30px;
    width: 34em;
    color: #000000;
}

#notification.multi-line-notification {
    padding-bottom: 8px;
    color: #000000;
}

/* We use row-span = 2 for the image cell, which prevents its height preferences to be
   taken into account during allocation, so its height ends up being limited by the height
   of the content in the other rows. To avoid showing a stretched image, we set the minimum
   height of the table to be ICON_SIZE + IMAGE_SIZE + spacing-rows = 24 + 125 + 10 = 159 */
.notification-with-image {
    min-height: 159px;
    color: #000000;
}

#notification-scrollview {
    max-height: 10em;
}

#notification-scrollview > .top-shadow, #notification-scrollview > .bottom-shadow {
    height: 1em;
}

#notification-scrollview:ltr > StScrollBar {
    padding-left: 6px;
}

#notification-scrollview:rtl > StScrollBar {
    padding-right: 6px;
}

#notification-body {
    spacing: 5px;
}

#notification-actions {
    spacing: 10px;
}

.notification-button {
    font-size: 11pt;
    padding: 4px 42px 5px;
}

.notification-button:focus {
    padding: 3px 41px 4px;
}

.notification-icon-button {
    padding: 5px;
}

.notification-icon-button:focus {
    padding: 4px;
}

.notification-icon-button > StIcon {
    icon-size: 36px;
}

.hotplug-transient-box {
    spacing: 6px;
    padding: 2px 72px 2px 12px;
}

.hotplug-notification-item {
    padding: 2px 10px;
    font-size: 10.5pt;
}

.hotplug-notification-item:focus {
    padding: 1px 71px 1px 11px;
}

.hotplug-notification-item-icon {
    icon-size: 24px;
    padding: 2px 5px;
}

.hotplug-resident-box {
    spacing: 8px;
}

.hotplug-resident-mount {
    spacing: 8px;

    color: #ccc;
}

.hotplug-resident-mount:hover {
    background-gradient-direction: horizontal;
	background-gradient-start: rgba(255, 255, 255, 0.1);
	background-gradient-end: rgba(255, 255, 255, 0);
    color: #fff;
}

.hotplug-resident-mount-label {
    color: inherit;
    padding-left: 6px;
}

.hotplug-resident-mount-icon {
    icon-size: 24px;
    padding-left: 6px;
}

.hotplug-resident-eject-icon {
    icon-size: 16px;
}

.hotplug-resident-eject-button {
    padding: 7px;
    color: #ccc;
}

#notification StEntry {
    padding: 4px;
    color: #000000;
    selected-color: white;
    border: 0px solid rgba(245,245,245,0.2);
    background-color: #ffffff;
    transition-duration: 300;
    box-shadow: inset 0px 2px 4px rgba(0,0,0,0.6);

    caret-color: #a8a8a8;
    caret-size: 1px;
}

#notification StEntry:focus {
    border: 0px solid #8b8b8b;
    color: #000000;
    background-color: #ffffff;
    
    caret-color: #ffffff;
    selection-background-gradient-direction: vertical;
	background-gradient-start: #2C84FF;
	background-gradient-end: #006aff;
}

/* ===================================================================
 * Alt Tab
 * ===================================================================*/

#altTabPopup {
    padding: 0px;
    spacing: 16px;
}

.switcher-list {
    background: rgba(0,0,0,1);
    border: 0px solid rgba(0,0,0,0.4);
    border-radius: 3px;
    padding: 20px;
    font-size: 10pt;
    color: white;
    box-shadow: 0px 0px 0px #000;
}

.switcher-list-item-container {
    spacing: 8px;
}

.thumbnail-scroll-gradient-left {
    background-gradient-direction: horizontal;
	background-gradient-start: rgba(0, 0, 0, 1.0);
	background-gradient-end: rgba(51, 51, 51, 0);
    border-radius: 0px;
    width: 60px;
}
.thumbnail-scroll-gradient-right {
    background-gradient-direction: horizontal;
	background-gradient-start: rgba(51, 51, 51, 0);
	background-gradient-end: rgba(0, 0, 0, 1.0);
    border-radius: 0px;
    width: 60px;
}

.switcher-list .item-box {
    padding: 8px;
    border: 0px solid rgba(0,0,0,0);
}

.switcher-list .item-box:outlined {
    padding: 7px;
    border-radius: 3px;
    border: 0px solid rgba(0,0,0,0);
}

.switcher-list .item-box:selected {
    background: rgba(0,0,0,0.15);
    border-radius: 3px;
    border: 0px solid rgba(0,0,0,0);
    color: white;
}

.switcher-list .thumbnail-box {
    padding: 2px;
    spacing: 4px;
}

.switcher-list .thumbnail {
    width: 256px;
}

.switcher-list .separator {
    width: 1px;
    background: rgba(255,255,255,0.33);
}

.ripple-box {
    width: 300px;
    height: 300px;
	background-gradient-end: rgba(0,0,0,0.8);
	background-gradient-start: rgba(0,0,0,0.3);
    background-gradient-direction: radial;
 box-shadow: outset 0px 0px 5px 5px #00A7FF;
 border-radius: 150px;
}

.ripple-box:rtl {
    width: 300px;
    height: 300px;
	background-gradient-end: rgba(0,167,255,0.8);
	background-gradient-start: rgba(0,0,0,0.3);
    background-gradient-direction: radial;
 box-shadow: outset 0px 0px 5px 5px #00A7FF;
 border-radius: 150px;
}

.switcher-arrow {
    border-color: rgba(0,0,0,0);
    color: #ffffff;
}

.switcher-arrow:highlighted {
    border-color: rgba(0,0,0,0);
    color: white;
}

/* ===================================================================
 * Modal dialogs
 * ===================================================================*/

.modal-dialog {
    background-color: rgba(0,0,0,1);
    border: 0px rgba(32,74,135,0.8);
    border-radius: 3px;
    font-size: 10pt;
    color: #ffffff;

    padding-right: 42px;
    padding-left: 42px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.modal-dialog-button-box {
    padding-top: 10px;
    spacing: 21px;
}

.modal-dialog-button {
    font-size: 11pt;
    color: white;

    margin-left: 10px;
    margin-right: 10px;
    padding: 4px 32px 5px;
}

.modal-dialog-button:disabled {
    color: rgb(60, 60, 60);
}

.modal-dialog-button:focus {
    padding: 3px 31px 4px;
}

/* ===================================================================
 * Run dialog
 * ===================================================================*/

.run-dialog-label {
    font-size: 9pt;
    color: white;
}

.run-dialog-error-label {
    font-size: 9pt;
    color: white;
    }

.run-dialog-error-box {
    padding-top: 15px;
    spacing: 5px;
}

.run-dialog-entry {
    padding-top: 4px;
    font-size: 12pt;
    width: 23em;
    color: white;
    selection-background-gradient-direction: vertical;
	background-gradient-start: #2C84FF;
	background-gradient-end: #006aff;
    selected-color: white;
}

.run-dialog {
    border-width: 0px;
    padding: 15px;
box-shadow: outset 0px 0px 0px rgba(0,0,0,0.6);
}

.lightbox {
    background-color: rgba(0,0,0,0.3);
}

/* ===================================================================
 * End session dialog
 * ===================================================================*/

.end-session-dialog {
    spacing: 42px;
}

.end-session-dialog-subject {
    font-size: 12pt;
    font-weight: normal;
    color: #666666;
    padding-top: 10px;
    padding-left: 17px;
    padding-bottom: 30px;
}

.end-session-dialog-subject:rtl {
    padding-left: 0px;
    padding-right: 17px;
}

.end-session-dialog-description {
    font-size: 10pt;
    color: white;
    padding-left: 17px;
    width: 28em;
}

.end-session-dialog-description:rtl {
    padding-right: 17px;
}

.end-session-dialog-logout-icon {
    border: 2px solid #8b8b8b;
    width: 32px;
    height: 32px;
}

.end-session-dialog-shutdown-icon {
    width: 32px;
    height: 32px;
}

.end-session-dialog-app-list {
    font-size: 10pt;
    max-height: 200px;
    padding-top: 42px;
    padding-left: 49px;
    padding-right: 32px;
}

.end-session-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px;
}

.end-session-dialog-app-list-item {
    color: #ccc;
}

.end-session-dialog-app-list-item:hover {
    color: white;
}

.end-session-dialog-app-list-item:ltr {
    padding-right: 1em;
}

.end-session-dialog-app-list-item:rtl {
    padding-left: 1em;
}

.end-session-dialog-app-list-item-icon:ltr {
    padding-right: 17px;
}

.end-session-dialog-app-list-item-icon:rtl {
    padding-left: 17px;
}

.end-session-dialog-app-list-item-name {
    font-size: 10pt;
}

.end-session-dialog-app-list-item-description {
    font-size: 8pt;
    color: #444444;
}

/* CinnamonMountOperation Dialogs */
.cinnamon-mount-operation-icon {
    icon-size: 48px;
}

.mount-password-reask {
    color: red;
}

.show-processes-dialog,
.mount-question-dialog {
    spacing: 24px;
}

.show-processes-dialog-subject,
.mount-question-dialog-subject {
    font-size: 12pt;
    font-weight: normal;
    color: #666666;
    padding-top: 10px;
    padding-left: 17px;
    padding-bottom: 6px;
}

.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
    padding-left: 0px;
    padding-right: 17px;
}

.show-processes-dialog-description,
.mount-question-dialog-description {
    font-size: 10pt;
    color: white;
    padding-left: 17px;
    width: 28em;
}

.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
    padding-right: 17px;
}

.show-processes-dialog-app-list {
    font-size: 10pt;
    max-height: 200px;
    padding-top: 24px;
    padding-left: 49px;
    padding-right: 32px;
}

.show-processes-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px;
}

.show-processes-dialog-app-list-item {
    color: #ccc;
}

.show-processes-dialog-app-list-item:hover {
    color: white;
}

.show-processes-dialog-app-list-item:ltr {
    padding-right: 1em;
}

.show-processes-dialog-app-list-item:rtl {
    padding-left: 1em;
}

.show-processes-dialog-app-list-item-icon:ltr {
    padding-right: 17px;
}

.show-processes-dialog-app-list-item-icon:rtl {
    padding-left: 17px;
}

.show-processes-dialog-app-list-item-name {
    font-size: 10pt;
}

/* ===================================================================
 * Policykit authentication dialog
 * ===================================================================*/

.polkit-dialog {
    /* this is the width of the entire modal popup */
    width: 500px;
}

.polkit-dialog-main-layout {
    spacing: 24px;
    padding: 10px;
}

.polkit-dialog-message-layout {
    spacing: 16px;
}

.polkit-dialog-headline {
    font-size: 12pt;
    font-weight: normal;
    color: #ffffff;
}

.polkit-dialog-description {
    font-size: 10pt;
    color: white;
}

.polkit-dialog-user-layout {
    padding-left: 10px;
    spacing: 10px;
}

.polkit-dialog-user-layout:rtl {
    padding-left: 0px;
    padding-right: 0px;
}

.polkit-dialog-user-root-label {
    color: #ffffff;
}

.polkit-dialog-password-label:ltr {
    padding-right: 0.5em;
}

.polkit-dialog-password-label:rtl {
    padding-left: 0.5em;
}

.polkit-dialog-password-entry {
	background-gradient-start: rgb(236,236,236);
	background-gradient-end: white;
    background-gradient-direction: vertical;
    color: white;
    border-radius: 0px;
    border: 2px solid #555753;
}

.polkit-dialog-password-entry:focus {
    border: 2px solid #3465a4;
}

.polkit-dialog-password-entry .capslock-warning {
    icon-size: 16px;
    warning-color: #999;
    padding: 0 4px;
}

.polkit-dialog-error-label {
    font-size: 10pt;
    color: #ffff00;
    padding-bottom: 8px;
}

.polkit-dialog-info-label {
    font-size: 10pt;
    padding-bottom: 8px;
}

/* intentionally left transparent to avoid dialog changing size */
.polkit-dialog-null-label {
    font-size: 10pt;
    color: rgba(255,255,255,0);
    padding-bottom: 8px;
}

.network-dialog-secret-table {
    spacing-rows: 15px;
}

/* ===================================================================
 * Magnifier
 * ===================================================================*/


.magnifier-zoom-region {
    border: 2px solid rgba(128, 0, 0, 255);
}

.magnifier-zoom-region.full-screen {
    border-width: 0px;
}

/* ===================================================================
 * On screen keyboard
 * ===================================================================*/


#keyboard {
    background: rgba(0,0,0,1.0);
}

.keyboard-layout {
    spacing: 10px;
    padding: 10px;
}

.keyboard-row {
    spacing: 15px;
}

.keyboard-key {
    min-height: 30px;
    min-width: 30px;
    background: rgba(255,255,255,0.1);
    border-radius: 3px;
    font-size: 14pt;
    font-weight: normal;
    border: 0px solid #4F8CB1;
    color: white;
}

.keyboard-key:grayed {
   color: rgba(255,255,255,0.5);
}

.keyboard-key:checked,
.keyboard-key:hover {
    background: rgba(255,255,255,0.2);
    border: 0px solid white;
}

.keyboard-key:active {
    background: #808080;
}

.keyboard-subkeys {
    color: white;
    padding: 5px;
    -arrow-background-color: #090909;
    -arrow-border-width: 2px;
    -arrow-border-color: white;
    -arrow-base: 20px;
    -arrow-rise: 10px;
    -boxpointer-gap: 5px;
}

/* ###################################################################
 * Cinnamon Specific Section 
 * ###################################################################*/

/* ===================================================================
 * Menu (menu.js)
 * ===================================================================*/

.menu-favorites-box {
	margin: auto;
	padding: 9px;
	border: 0px solid #bdc7d8;
	border-radius: 2px;
	background-color: #000;
}
.menu-favorites-button {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
.menu-favorites-button:hover {
	color: white;
        background-gradient-direction: vertical;
	background-gradient-start: #2C84FF;
	background-gradient-end: #006aff;
	border-radius: 2px;
}
.menu-help-button {
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
}
.menu-help-button:hover {
	color: white;
	border: 1px solid #3b5998;
	background-gradient-direction: vertical;
	background-gradient-start: #2C84FF;
	background-gradient-end: #006aff;
}
.menu-places-box {
	width: 50px;
	margin: auto;
	padding: 10px;
	border: 0px solid #666;
}
.menu-places-button {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
.menu-categories-box {
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 20px;
	padding-bottom: 10px;
}
.menu-applications-box {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
}
.menu-application-button {
	padding: 7px;
}
.menu-application-button:highlighted {
	/* This style is used in menu application buttons for applications which were newly installed */
	font-weight: bold;
}
.menu-application-button:hover,
.menu-application-button-selected {
	padding: 7px;
	color: #fff;
	background-gradient-direction: vertical;
	background-gradient-start: #2C84FF;
	background-gradient-end: #006aff;
}
.menu-application-button-selected:highlighted {
	/* This style is used in menu application buttons for applications which were newly installed */
	font-weight: bold;
}
.menu-application-button-label:ltr { 
	padding-left: 5px;
}
.menu-application-button-label:rtl { 
	padding-right: 5px;
}
.menu-place-cat-button-label:ltr {
	padding-top: 4px;
	padding-left: 5px;
}
.menu-place-cat-button-label:rtl {
	padding-top: 4px;
	padding-right: 5px;
}
.menu-category-button {
	padding: 7px;
        border-radius: 3px;
}
.menu-category-button-greyed {
	padding-top: 7px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
	color: #878787;
	font-style: italic;
}
.menu-category-button-selected {
	padding: 7px;
	color: #fff;
	background-gradient-direction: vertical;
	background-gradient-start: #2C84FF;
	background-gradient-end: #006aff;
}
.menu-category-button-label:ltr {
	padding-left: 5px;
}
.menu-category-button-label:rtl {
	padding-right: 5px;

}
.menu-category-button-button:hover {
}
/* Name and description of the currently hovered item in the menu
 * This appears on the bottom right hand corner of the menu*/
.menu-selected-app-box {
	padding-right: 30px;
	padding-left: 28px;
	text-align: right;
}

.menu-selected-app-box:rtl {
	padding-top: 10px;
	height: 30px;
}

.menu-selected-app-title {
	font-weight: bold;
}
.menu-selected-app-description {
	max-width: 150px;
}
.menu-search-box:ltr {
	padding-left: 30px;
}
.menu-search-box:rtl {
	padding-right: 30px;
}
#menu-search-entry {
        border-radius: 0px;
        border: 0px solid #bdc7d8;
        color: #fff;
        background-color: #000;
        caret-color: #006aff;
        caret-size: 1px;
        padding: 4px 8px;
        height: 16px;
        width: 250px;

}
#menu-search-entry:focus,
#menu-search-entry:hover {
        border-radius: 0px;
        border: 0px solid #bdc7d8;
        background-color: #000;
        selected-color: #fff;
        caret-color: #006aff;
        caret-size: 1px;
        color: #fff;

}
#menu-search-entry:hover {
	transition-duration: 300;
}
#menu-search-entry:focus {
        color: #fff;
        transition-duration: 0;
}
.menu-search-entry-icon {
	icon-size: 1em;
	color: #fff;
}
/* Context menu (at the moment only for favorites) */
.menu-context-menu {
}
/* ===================================================================
 * Window list (windowList.js)
 * ===================================================================*/
.window-list-box {
  spacing: 6px;
  padding-left: 10px;
  padding-top: 1px; }
  .window-list-box.vertical {
    spacing: 2px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px; }
.window-list-item-label {
    font-weight: normal;
    width: 15em;
    min-width: 5px;
}
.window-list-item-box {
  font-weight: normal;
  background-image: none;
  padding-top: 0;
  padding-left: 8px;
  padding-right: 8px;
  transition-duration: 100;
  color: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.54);
}
  .window-list-item-box.top, .window-list-item-box.bottom {
    border-bottom-width: 2px; }
    .window-list-item-box.top StLabel, .window-list-item-box.bottom StLabel {
      padding-left: 2px; }
  .window-list-item-box.right {
    padding-left: 0px;
    padding-right: 0px;
    border-right-width: 2px; }
    .window-list-item-box.right StBin {
      padding-right: 0; }
  .window-list-item-box.left {
    padding-left: 0px;
    padding-right: 0px;
    border-left-width: 2px; }
    .window-list-item-box.left StBin {
      padding-left: 1px; }
  .window-list-item-box:hover, .window-list-item-box:groupFocus {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.15);
    border-color: rgba(255, 255, 255, 1);
}
  .window-list-item-box:active, .window-list-item-box:checked, .window-list-item-box:focus, .window-list-item-box:running {
    background-color: transparent;
    color: #ffffff;
    border-color: rgba(255, 255, 255, 1); }
  .window-list-item-box .progress {
    background-color: rgba(0, 186, 85, 0.27);
    border-color: rgba(0, 226, 125, 1); }
.window-list-item-demands-attention {
  background-color: rgba(255, 127, 0, 0.27);
  border-color: rgba(255, 127, 0, 1); }
.window-list-preview {
  spacing: 6px;
  border-radius: 3px;
  color: #FFF;
  border: 1px solid #1c1c1c;
  background-color: #000000;
  padding: 10px; }

/* ===================================================================
 * Sound Applet (status/volume.js)
 * ===================================================================*/
.sound-button-container {
	padding-right: 3px;
	padding-left: 3px;
}
.sound-button {
	width: 22px;
	height: 13px;
	border: 1px solid #555;
	border-radius: 4px;
	padding: 5px;
}
.sound-button:hover {
	border: 1px solid white;
}
.sound-button StIcon {
	icon-size: 1.4em;
}
.sound-track-infos {	
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.sound-track-info {
	padding-top: 2px;
	padding-bottom: 2px;
}
.sound-track-info StIcon {
	icon-size: 1em;

}
.sound-track-info StLabel {
	padding-left: 5px;
	padding-right: 5px;
}
.sound-track-box {	
	padding-left: 15px;
	padding-right: 15px;	
	max-width: 220px;
}
.sound-seek-box {
   padding-left: 20px;
}
.sound-seek-box StLabel {
   padding-top: 2px;
}
.sound-seek-box StIcon {
   icon-size: 1em;
}
.sound-seek-slider {
   width: 140px;   
}
.sound-volume-menu-item {
	padding: .4em 1.75em;
}
.sound-volume-menu-item StIcon {
	icon-size: 1.14em;
}
.sound-playback-control {
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

/* ===================================================================
 * Workspace Switcher applet (workspaceSwitcher.js)
 * ===================================================================*/
#workspaceSwitcher {
    spacing: 0px;
    padding: 3px;
    
}

.workspace-button {
    width: 20px;
    height: 10px;   
    color: rgba(200,200,200,1);
    transition-duration: 100;
    border: 1px;
    border-color: rgba(200,200,200,1);
    padding: 1px;
}

.workspace-button:outlined {
    padding: 1px;    
    background: rgba(200,200,200,1);
    color: rgba(55,55,55,1);
}

/* ===================================================================
 * Panel Launchers Applet (panelLaunchers.js)
 * ===================================================================*/

#panel-launchers-box {
    
}

.panel-launcher {
    margin: 1px;
    padding: 1px;
}

.panel-launcher:hover {
    background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.0);
	background-gradient-end: rgba(255,255,255,0.2);
    border: 0px solid rgba(255,255,255,0.5);
    border-bottom-width: 1px;
}

.panel-launcher-add-dialog-content-box {
	padding: 6px;
	spacing: 20px;
}

.panel-launcher-add-dialog-content-box-left {
	padding: 6px;
	spacing: 20px;
}

.panel-launcher-add-dialog-content-box-right {
	padding: 6px;
	spacing: 10px;
}

.panel-launcher-add-dialog-entry {
    padding: 5px;
    border-radius: 4px;
    color: rgb(50, 50, 50);
    border: 1px solid rgba(245,245,245,0.2);
	background-gradient-start: rgba(200,200,200,0.5);
	background-gradient-end: rgba(254,254,254,0.5);
    background-gradient-direction: vertical;
    box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.5);
    selected-color: white;
    caret-color: rgb(128, 128, 128);
    caret-size: 1px;
    width: 250px;
    transition-duration: 300;
}

.panel-launcher-add-dialog-entry:focus,
.panel-launcher-add-dialog-entry:hover {
    border: 1px solid rgba(120,120,120,1);
	background-gradient-start: rgb(200,200,200);
	background-gradient-end: white;
    background-gradient-direction: vertical;
}

.panel-launcher-add-dialog-entry:hover {
    transition-duration: 300;
}

.panel-launcher-add-dialog-entry:focus {
    color: rgb(0, 0, 0);
    font-weight: normal;
    transition-duration: 0;
}

/* ===================================================================
 * Overview corner
 * ===================================================================*/
#overview-corner {
	background-image: url("overview.png");
}

#overview-corner:hover {    
    background-image:  url("overview-hover.png");
}

/* ===================================================================
 * Applets (applet.js) 
 * ===================================================================*/
.applet-separator {
	padding: 5px 4px;
}
.applet-separator-line {
	width: 2px;
	background: rgba(255,255,255,.5);
}
.applet-box {
	padding-left: 3px;
        padding-right: 3px;
	font-weight: normal;
	color: white;
	border: 1px solid rgba(255,255,255,0);
	border-top: 0px;
	border-bottom: 0px;
	transition-duration: 200;
}
.applet-box:hover {
        border-color: rgba(0,0,0,0);
	background-gradient-direction: vertical;
	background-gradient-end: rgba(255,255,255,0.1);
	background-gradient-start: rgba(255,255,255,0.1);
}
.applet-label {	
	color: white;
        text-align: center;
}
.applet-icon {
	color: white;
	icon-size: 22px;
}
 
/* ===================================================================
 * Workspace OSD
 * ===================================================================*/

.workspace-osd {
    background-gradient-direction: vertical;
	background-gradient-start: #FBFBFB;
	background-gradient-end: #F9F9F9;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    padding: 12px 17px;
    color: #000;
    font-weight: normal;
    font-size: 20pt;	
}

.expo-workspaces-name-entry {
    padding: 3px;
    color: rgb(0, 0, 0);
	background-gradient-start: #FBFBFB;
	background-gradient-end: #F9F9F9;
    background-gradient-direction: vertical;
    selected-color: white;
    caret-color: rgb(128, 128, 128);
    caret-size: 1px;
    width: 250px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    height: 15px;	
    box-shadow: inset 0px 0px 0px rgba(50,50,50,0.8);
    text-align: center;	
}

.expo-workspaces-name-entry#selected {
    color: rgb(0, 0, 0);
}

.expo-workspaces-name-entry:focus {
	color: rgb(0, 0, 0);
	font-weight: normal;
	transition-duration: 300;
}



/* ===================================================================
 * Notification Applet
 * ===================================================================*/

.notification-applet-padding {
	padding: .5em 1em;
}

.notification-applet-container {
	max-height: 100px;
}

/* Check Boxes */
.check-box CinnamonGenericContainer {
    spacing: .2em;
    min-height: 30px;
    padding-top: 2px;
}

.check-box StBin {
    width: 24px;
    height: 18px;
    background-image: url("checkbox-off.svg");
}

.check-box:focus StBin {
    background-image: url("checkbox-off-focused.svg");
}

.check-box:checked StBin {
    background-image: url("checkbox.svg");
}

.check-box:focus:checked StBin {
    background-image: url("checkbox-focused.svg");
}

.check-box StLabel {
   font-weight: normal;
}

.radiobutton CinnamonGenericContainer {
    spacing: .2em;
    height: 26px;
    padding-top: 2px;
}

.radiobutton StBin {
    width: 22px;
    height: 22px;
    background-image: url("radiobutton-off.svg");
    border-radius: 15px;
}

.radiobutton:focus StBin {
    background-image: url("radiobutton-off.svg");
}

.radiobutton:checked StBin {
    background-image: url("radiobutton.svg");
}

.radiobutton:focus:checked StBin {
    background-image: url("radiobutton.svg");
}

.radiobutton StLabel {
   padding-top: 4px;
   font-size: 0.9em;
   box-shadow: none;
}

.flashspot {
   background-color: black;
}

/* ===================================================================
 * Network Data Usage Monitor applet
 * ===================================================================*/
 
 /* These settings govern the width of the Applet and the space taken by the font.*/

.numa-left {
	text-align: center;
	min-width: 75px;
	font-weight: normal;
	/*font-size: 95%;*/
}

.numa-right {
	text-align: center;
	min-width: 1px;
	font-weight: normal;
	/*font-size: 95%;*/
}

/* The following are the styles for the Applet backgrounds - names are self explanitory 
The colour parameters are red, green, blue, and transparency or a name */

.numa-not-connected {
	background-color: rgba(0,0,0,0.0);
 	border-radius: 10px;
}

.numa-connected {
	background-color: rgba(0,0,0,0);
 	border-radius: 10px;
}

.numa-alert {
	border-image: url("network.png") 4;
	background-color: rgba(0,0,0,0);
 	border-radius: 10px;
}

.numa-limit-exceeded {
	border-image: url("network.png") 4;
	background-color: red;
 	border-radius: 10px;
}

/* ===================================================================
 * Snap/Tile OSD Popup
 * ===================================================================*/

.snap-osd {
    font-size: 18pt;
    border-radius: 3px;
    background-gradient-direction: vertical;
	background-gradient-start: #FBFBFB;
	background-gradient-end: #F9F9F9;
    border: 1px solid #DBDBDB;
    color: #000;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;    
}

.info-osd {
    font-size: 18pt;
    border-radius: 3px;
    background-gradient-direction: vertical;
	background-gradient-start: #FBFBFB;
	background-gradient-end: #F9F9F9;
    border: 1px solid #DBDBDB;
    color: #000;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;    
}

.osd-window {
    font-size: 18pt;
    border-radius: 3px;
    background-gradient-direction: vertical;
	background-gradient-start: #FBFBFB;
	background-gradient-end: #F9F9F9;
    border: 1px solid #DBDBDB;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    color: #000;
}

.osd-window .level {
    height: 0.22em;
    background-color: rgba(0,0,0,0.1);
    color: #006aff;
}

.tile-preview,
.tile-preview.snap,
.tile-hud,
.tile-hud.snap {
    border-radius: 0px;
    background-color: rgba(0, 106, 255, 0.5);
    border: 1px solid #006aff;
}

.tile-hud:top {
    border-top-width: 0px;
    border-radius: 0px 0px 8px 8px;
}

.tile-hud:bottom {
    border-bottom-width: 0px;
    border-radius: 8px 8px 0px 0px;
}

.tile-hud:left {
    border-left-width: 0px;
    border-radius: 0px 8px 8px 0px;
}

.tile-hud:right {
    border-right-width: 0px;
    border-radius: 8px 0px 0px 8px;
}

.tile-hud:top-left {
    border-top-width: 0px;
    border-left-width: 0px;
    border-radius: 0px 0px 8px 0px;
}

.tile-hud:top-right {
    border-top-width: 0px;
    border-right-width: 0px;
    border-radius: 0px 0px 0px 8px;
}

.tile-hud:bottom-left {
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-radius: 0px 8px 0px 0px;
}

.tile-hud:bottom-right {
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-radius: 8px 0px 0px 0px;
}

/* USER APPLET & MENU APPLET COMMON TWEAKS */
.hover-user-icon,
.user-icon {
    border-radius: 3px;
    border: 2px solid transparent;
}

.user-label {
    color: #FFF;
}

/* GROUPED WINDOW LIST THEMEING */
.grouped-window-list-item-label {
  font-weight: normal;
  width: 15em;
  min-width: 5px; }
.grouped-window-list-item-box {
  font-weight: normal;
  background-image: none;
  padding-top: 0;
  padding-left: 8px;
  padding-right: 8px;
  transition-duration: 100;
  border-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0.6); }
  .grouped-window-list-item-box.top, .grouped-window-list-item-box.bottom {
    border-bottom-width: 2px; }
    .grouped-window-list-item-box.top StLabel, .grouped-window-list-item-box.bottom StLabel {
      padding-left: 2px; }
  .grouped-window-list-item-box.right {
    padding-left: 0px;
    padding-right: 0px;
    border-right-width: 2px; }
    .grouped-window-list-item-box.right StBin {
      padding-right: 0; }
  .grouped-window-list-item-box.left {
    padding-left: 0px;
    padding-right: 0px;
    border-left-width: 2px; }
    .grouped-window-list-item-box.left StBin {
      padding-left: 1px; }
  .grouped-window-list-item-box:checked, .grouped-window-list-item-box:active:hover {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.25); }
  .grouped-window-list-item-box:active {
    color: #ffffff;
    border-color: rgba(255, 255, 255, 0.45);
    background-color: transparent; }
  .grouped-window-list-item-box:focus, .grouped-window-list-item-box:checked {
    background-color: transparent;
    color: #ffffff;
    border-color: rgba(255, 255, 255, 1); }
  .grouped-window-list-item-box .progress {
    background-color: rgba(0, 186, 85, 0.27);
    border-color: rgba(0, 226, 125, 1); }
.grouped-window-list-item-demands-attention {
  background-color: rgba(255, 127, 0, 0.27);
  border-color: rgba(255, 127, 0, 1); }
.grouped-window-list-thumbnail-label {
  padding-left: 4px; }
.grouped-window-list-number-label {
  z-index: 99;
  color: #d0d0d0; }
.grouped-window-list-badge {
  border-radius: 256px;
  background-color: #006aff;
  color: #FFF; }
.grouped-window-list-button-label {
  padding-left: 4px; }
.grouped-window-list-thumbnail-alert {
  background-gradient-direction: vertical;
background-gradient-start: #2C84FF;
background-gradient-end: #006AFF;
  color: #FFF; }
.grouped-window-list-thumbnail-menu {
  border-radius: 3px;
  background-color: rgba(0,0,0,1);
  border-width: 1px;
  border-color: #1c1c1c;
  color: #fff;
  padding: 10px; }
  .grouped-window-list-thumbnail-menu > StBoxLayout {
    padding: 4px; }
  .grouped-window-list-thumbnail-menu .item-box {
    padding: 10px;
    border-radius: 2px;
    spacing: 4px; }
    .grouped-window-list-thumbnail-menu .item-box:outlined, .grouped-window-list-thumbnail-menu .item-box:selected {
      padding: 8px;
      background-color: rgba(255,255,255,0.2); }
  .grouped-window-list-thumbnail-menu .thumbnail {
    width: 256px; }
  .grouped-window-list-thumbnail-menu .separator {
    width: 1px;
    background: rgba(255,255,255,0.2); }
