@import url(../../feren/cinnamon/cinnamon.css);
@import url(applets/weather.css);
@import url(applets/slingshot.css);
@import url(applets/stopwatch.css);
@import url(applets/zuromenu.css);
@import url(applets/cinnviistarkmenu.css);


stage {
  color: white; }

.popup-menu #notification .notification-button, .popup-menu #notification .notification-icon-button, .notification-button, .notification-icon-button, .modal-dialog-button-box .modal-dialog-button, .sound-button {
  background-gradient-direction: vertical;
      background-gradient-start: #323232;
      background-gradient-end: #313131;
  color: white; }
  .popup-menu #notification .notification-button, .popup-menu #notification .notification-icon-button, .notification-button, .notification-icon-button, .modal-dialog-button-box .modal-dialog-button, .sound-button, .popup-menu #notification .notification-button:focus, .popup-menu #notification .notification-icon-button:focus, .notification-button:focus, .notification-icon-button:focus, .modal-dialog-button-box .modal-dialog-button:focus, .sound-button:focus, .popup-menu #notification .notification-button:hover, .popup-menu #notification .notification-icon-button:hover, .notification-button:hover, .notification-icon-button:hover, .modal-dialog-button-box .modal-dialog-button:hover, .sound-button:hover, .popup-menu #notification .notification-button:hover:focus, .popup-menu #notification .notification-icon-button:hover:focus, .notification-button:hover:focus, .notification-icon-button:hover:focus, .modal-dialog-button-box .modal-dialog-button:hover:focus, .sound-button:hover:focus, .popup-menu #notification .notification-button:active, .popup-menu #notification .notification-icon-button:active, .notification-button:active, .notification-icon-button:active, .modal-dialog-button-box .modal-dialog-button:active, .sound-button:active, .popup-menu #notification .notification-button:active:focus, .popup-menu #notification .notification-icon-button:active:focus, .notification-button:active:focus, .notification-icon-button:active:focus, .modal-dialog-button-box .modal-dialog-button:active:focus, .sound-button:active:focus, .popup-menu #notification .notification-button:insensitive, .popup-menu #notification .notification-icon-button:insensitive, .notification-button:insensitive, .notification-icon-button:insensitive, .modal-dialog-button-box .modal-dialog-button:insensitive, .sound-button:insensitive {
    border-radius: 3px; }
  .popup-menu #notification .notification-button:hover, .popup-menu #notification .notification-icon-button:hover, .notification-button:hover, .notification-icon-button:hover, .modal-dialog-button-box .modal-dialog-button:hover, .sound-button:hover {
    color: white;
    background-color: #383838; }
  .popup-menu #notification .notification-button:active, .popup-menu #notification .notification-icon-button:active, .notification-button:active, .notification-icon-button:active, .modal-dialog-button-box .modal-dialog-button:active, .sound-button:active, .popup-menu #notification .notification-button:active:focus, .popup-menu #notification .notification-icon-button:active:focus, .notification-button:active:focus, .notification-icon-button:active:focus, .modal-dialog-button-box .modal-dialog-button:active:focus, .sound-button:active:focus {
    color: #ffffff;
    border-image: url('common-assets/misc/selection.svg'); }
  .popup-menu #notification .notification-button:insensitive, .popup-menu #notification .notification-icon-button:insensitive, .notification-button:insensitive, .notification-icon-button:insensitive, .modal-dialog-button-box .modal-dialog-button:insensitive, .sound-button:insensitive {
    color: rgba(255, 255, 255, 0.55);
    border: 1px solid #2B2B2B;
    background-color: #2F2F2F; }

.popup-menu #notification StEntry, #menu-search-entry {
  selection-background-color: #006aff;
  selected-color: #ffffff;
  color: white;
  background-color: #323232; }
  .popup-menu #notification StEntry:focus, #menu-search-entry:focus, .popup-menu #notification StEntry:hover, #menu-search-entry:hover {
    color: white;
    background-color: #323232; }
  .popup-menu #notification StEntry:insensitive, #menu-search-entry:insensitive {
    color: rgba(255, 255, 255, 0.55);
    background-color: #303030; }
  .popup-menu #notification StEntry StIcon.capslock-warning, #menu-search-entry StIcon.capslock-warning {
    warning-color: #e36b1a; }

.notification StEntry {
  caret-color: #3c3c3c;
  selection-background-color: #006aff;
  selected-color: #ffffff;
  color: white;
  background-color: #323232; }
  .notification StEntry:focus {
    color: white;
    background-color: #323232;
    border: 2px solid #006aff; }
  .notification StEntry:insensitive {
    color: rgba(195, 195, 195, 0.55);
    background-color: #303030;
    border: 1px solid rgba(0, 0, 0, 0.19); }


.check-box StBin {
  background-image: url("light-assets/checkbox/checkbox-unchecked.svg"); }
.check-box:focus StBin {
  background-image: url("light-assets/checkbox/checkbox-unchecked-focused.svg"); }
.check-box:checked StBin {
  background-image: url("light-assets/checkbox/checkbox-checked.svg"); }
.check-box:focus:checked StBin {
  background-image: url("light-assets/checkbox/checkbox-checked-focused.svg"); }

.radiobutton StBin {
  background-image: url("light-assets/checkbox/checkbox-unchecked.svg"); }
.radiobutton:focus StBin {
  background-image: url("light-assets/checkbox/checkbox-unchecked-focused.svg"); }
.radiobutton:checked StBin {
  background-image: url("light-assets/checkbox/checkbox-checked.svg"); }
.radiobutton:focus:checked StBin {
  background-image: url("light-assets/checkbox/checkbox-checked-focused.svg"); }

.toggle-switch-us, .toggle-switch-intl {
  background-image: url("light-assets/switch/switch-off.svg"); }
  .toggle-switch-us:checked, .toggle-switch-intl:checked {
    background-image: url("light-assets/switch/switch-on.svg"); }

#Tooltip {
  border: 1px solid #171717;
  background-gradient-direction: vertical;
  background-gradient-start: #1B1B1B;
  background-gradient-end: #0F0F0F;
  color: #ffffff; }

#LookingGlassDialog {
  color: white;
  background-color: #222222; }

.menu {
  color: white;
  border-image: url('common-assets/menu/bg.png') 2 2 2 2;
}

.popup-sub-menu {
  background-color: #323232; }

.popup-menu-item:active {
  border-image: url('common-assets/misc/selection.svg'); }
.popup-menu-item:insensitive {
  color: rgba(0, 0, 0, 0.5); }

.popup-inactive-menu-item {
  color: white; }
  .popup-inactive-menu-item:insensitive {
    color: rgba(255, 255, 255, 0.55); }

/* This is for popup menus in Cinnamon versions < 3.2 */
.popup-menu {
  color: white; }
  .popup-menu .popup-sub-menu {
    background-color: #323232; }
    .popup-menu .popup-menu-item:active {
      color: white; }
    .popup-menu .popup-menu-item:insensitive {
      color: rgba(0, 0, 0, 0.5); }
  .popup-menu .popup-inactive-menu-item {
    color: white; }
    .popup-menu .popup-inactive-menu-item:insensitive {
      color: rgba(255, 255, 255, 0.55); }

.popup-menu-boxpointer {
  -arrow-background-color: #222222; }

.popup-separator-menu-item {
  -gradient-start: #303030;
  -gradient-end: #303030; }

.system-status-icon.warning {
  color: #e36b1a; }
.system-status-icon.error {
  color: #cf2737; }

.window-caption {
  background-color: transparent;
  color: #ffffff; }
  .window-caption:focus {
    border-image: url('common-assets/misc/selection.svg');
    color: #ffffff;
    border: 1px solid #006aff; }

.window-border {
  background-color: rgba(0, 0, 0, 0.05); }

.overview-empty-placeholder {
  color: #ffffff; }

.expo-workspaces-name-entry,
.expo-workspaces-name-entry#selected {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid transparent; }
  .expo-workspaces-name-entry:focus,
  .expo-workspaces-name-entry#selected:focus {
    border-image: url('common-assets/misc/selection.svg'); }

.expo-workspace-thumbnail-frame#active {
  background-color: black; }

.datemenu-date-label {
  color: white; }
  
.calendar-month-label {
  color: white; }

.calendar-day-heading {
  color: rgba(223, 223, 223, 0.85); }

.calendar-day {
  color: rgba(223, 223, 223, 0.9); }

.calendar-nonwork-day {
  color: white; }

.calendar-today,
.calendar-today:active,
.calendar-today:focus,
.calendar-today:hover {
  color: #ffffff;
  background-color: #006aff; }

.calendar-other-month-day {
  color: rgba(223, 223, 223, 0.3); }

.calendar-week-number {
  color: rgba(223, 223, 223, 0.85); }

#notification {
  background-gradient-direction: vertical;
          background-gradient-start: #1B1B1B;
          background-gradient-end: #0F0F0F;
  border: 1px solid #171717;
  color: white; }
  .popup-menu #notification {
    color: white; }
  #notification.multi-line-notification {
    color: white; }

.notification-with-image {
  color: white; }

.switcher-list {
  color: white;
  background-color: #222222; }
    .switcher-list .item-box:outlined {
      border: 1px solid #006aff; }
    .switcher-list .item-box:selected {
      color: #ffffff;
      border-image: url('common-assets/misc/selection.svg');
      border: 0px solid #006aff; }
  .switcher-list .separator {
    background: rgba(0, 0, 0, 0.2); }

.switcher-arrow {
  color: white; }
  .switcher-arrow:highlighted {
    color: #ffffff; }

.modal-dialog {
  background-color: #222222; }
  .modal-dialog-button-box {
    background-color: #222222; }

.run-dialog {
  background-color: #222222; }
  .run-dialog-label {
    color: white; }
  .run-dialog-error-label {
    color: #cf2737; }
  .run-dialog-entry {
    caret-color: #3c3c3c;
    selected-color: #ffffff;
    selection-background-color: #006aff;
    color: #3c3c3c;
    background-color: rgba(109, 109, 109, 0.4);
    border: 1px solid rgba(233, 233, 233, 0.4); }
    .run-dialog-entry:focus {
      color: white;
      background-color: #323232;
      border: 1px solid #006aff; }

.mount-password-reask {
  color: #e36b1a; }

.menu-favorites-box {
  background-color: #323232; }
  .menu-favorites-button:hover {
    border-image: url('common-assets/misc/selection.svg'); }
  .menu-application-button-selected {
    color: #ffffff;
    border-image: url('common-assets/misc/selection.svg'); }
  .menu-category-button-selected {
    color: #ffffff;
    border-image: url('common-assets/misc/selection.svg'); }
  .menu-category-button-greyed {
    color: rgba(255, 255, 255, 0.55); }
  .menu-favorites-button:hover {
    border-image: url('common-assets/misc/selection.svg'); }
  .menu-application-button-selected {
    border-image: url('common-assets/misc/selection.svg'); }

#menu-search-entry {
  caret-color: white; }

.menu-search-entry-icon {
  color: white; }

/* Context menu (at the moment only for favorites) */
.info-osd {
  color: white;
  background-gradient-direction: vertical;
          background-gradient-start: #1B1B1B;
          background-gradient-end: #0F0F0F;
  border: 1px solid #171717; }

.osd-window {
  color: white;
  background-gradient-direction: vertical;
          background-gradient-start: #1B1B1B;
          background-gradient-end: #0F0F0F;
  border: 1px solid #171717; }

.window-list-preview {
  color: white;
  background-color: #222222; }

.grouped-window-list-badge {
  background-color: #006aff; }
.grouped-window-list-thumbnail-menu {
  color: white; }
    .grouped-window-list-thumbnail-menu .item-box:selected {
      color: #ffffff;
      border-image: url('common-assets/misc/selection.svg');
      border: 0px solid #006aff;
    }
  .grouped-window-list-thumbnail-menu .separator {
    background: rgba(255, 255, 255, 0.2); }

.sound-player > StBoxLayout:first-child StButton:small:hover {
  color: white;
  background-color: #323232; }
.sound-player > StBoxLayout:first-child StButton:small:active {
  color: #ffffff;
  background-color: #006aff;
  border: 1px solid #006aff;
  box-shadow: inset 0 2px 4px #006aff; }
.sound-player-overlay {
  background: rgba(50, 50, 50, 0.9);
  color: white; }
  .sound-player-overlay StButton {
    color: white; }
    .sound-player-overlay StButton:hover {
      color: white;
      background-color: #323232; }
    .sound-player-overlay StButton:active {
      color: #ffffff;
      background-color: #006aff;
      border: 1px solid #006aff;
      box-shadow: inset 0 2px 4px #006aff; }
.sound-player .slider {
  -slider-background-color: #323232; }

.user-label {
  color: white; }

.workspace-osd {
    background-gradient-direction: vertical;
            background-gradient-start: #1B1B1B;
            background-gradient-end: #0F0F0F;
    border: 1px solid #171717;
    color: #fff;
}
