#XfceNotifyWindow {

    background-color: #FBFBFB;
    background-image: linear-gradient(to top, #F9F9F9, #FBFBFB);
    border-radius: 3px;
    border-color : #DBDBDB;
    border-style: outset;
    border-width: 1px;
    padding: 20px;
}

#XfceNotifyWindow:hover {
}

#XfceNotifyWindow GtkLabel,
#XfceNotifyWindow GtkImage {
    color: #000000;
    -GtkWidget-link-color:#006aff;
}

#XfceNotifyWindow GtkLabel#summary {
}

#XfceNotifyWindow GtkButton {
}

#XfceNotifyWindow GtkButton:hover {
}
