[Desktop Entry]
Name=Classical
X-KDE-PluginInfo-Author=The Feren OS Dev
X-KDE-PluginInfo-Email=ferenosdev@outlook.com
X-KDE-PluginInfo-Name=inspire-classical
X-KDE-PluginInfo-Version=2021.05
X-KDE-PluginInfo-Website=http://ferenos.weebly.com/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-License=GPL3
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0

# [Wallpaper]
# defaultWallpaperTheme=Aluminium-Default
# defaultFileSuffix=.png
# defaultWidth=1920
# defaultHeight=1080

[ContrastEffect]
enabled=false

[AdaptiveTransparency]
enabled=false
