.slingshot.popup-menu-content {
    padding: 0px;
}

/** Entries *******************************************************************/

.slingshot .entry {
    padding: 0px 0px;
    border-radius: 0px;
    color: #fff;
    border: 0px solid #ccc;
    box-shadow: inset 0px 0px 0px 0px #fff;
    font-size: 9pt;
    font-weight: normal;
    border-radius: 3px;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0);
    background-gradient-end: rgba(255,255,255,0);
    caret-color: #333;
    caret-size: 1px;
    selection-background-color: #006aff;
    selected-color: #fff;
    height: 24px;
}

.slingshot .entry:focus,
.slingshot .entry:hover {
    border-radius: 0px;
    color: #fff;
    border: 0px solid #6bb2e1;
    box-shadow: inset 0px 0px 0px 0px #c7deee;
}

/** Buttons *******************************************************************/

.slingshot .button {
    padding: 3px;
    border-radius: 3px;
    border: 0px solid rgba(0, 0, 0, 0.20);
    text-shadow: 0 0 rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.20);
}

.slingshot .button:active,
.slingshot .button:checked,
.slingshot .button:hover:active,
.slingshot .button:hover:checked {
    background-gradient-direction: vertical;
    background-gradient-start: #2C84FF;
    background-gradient-end: #006aff;
    color: #fff;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.10);
}

/** App Buttons ***************************************************************/

.slingshot .button.app {
    border-width: 0;
    border-radius: 3px;
}

.slingshot .app:hover {
    background-gradient-direction: vertical;
    background-gradient-start: #2C84FF;
    background-gradient-end: #006aff;
    color: #fff;
}

.slingshot .app:focus {
    background-gradient-direction: vertical;
    background-gradient-start: #2C84FF;
    background-gradient-end: #006aff;
    color: #fff;
}

/** Sidebar Buttons ***********************************************************/

.slingshot .sidebar .button {
	padding: 5px;
    border-radius: 0;
    border-top: 1px;
    border-right: 0;
    border-bottom: 1px;
    border-left: 0;
    border-color: transparent;
    border-radius-bottomright: 3px;
    border-radius-topright: 3px;
}

.slingshot .sidebar .button:active,
.slingshot .sidebar .button:hover:active {
    background-gradient-direction: vertical;
    background-gradient-start: #2C84FF;
    background-gradient-end: #006aff;
    border-color: transparent;
    box-shadow: inset 0 0 0 transparent;
}

.slingshot .sidebar .button:checked,
.slingshot .sidebar .button:hover:checked,
.slingshot .sidebar .button:active:checked {
    border-color: rgba(0, 0, 0, 0);
    background-gradient-direction: vertical;
    background-gradient-start: #2C84FF;
    background-gradient-end: #006aff;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0);
}

.slingshot .entry,
.slingshot .sidebar .button {
    text-shadow: 0 1 alpha (#fff, 0.4);
    icon-shadow: 0 1 alpha (#fff, 0.4);
}

/** Linked Buttons ************************************************************/

/* Middle button */
.slingshot .linked .button,
.slingshot .linked .button:active,
.slingshot .linked .button:active:hover,
.slingshot .linked .button:focus,
.slingshot .linked .button:focus:active,
.slingshot .linked .button:insensitive {
    border-right-width: 0;
    border-radius: 0;
}

/* Leftmost button */
.slingshot .linked .button:first-child,
.slingshot .linked .button:active:first-child,
.slingshot .linked .button:active:hover:first-child,
.slingshot .linked .button:focus:first-child,
.slingshot .linked .button:focus:active:first-child,
.slingshot .linked .button:insensitive:first-child {
    border-radius-bottomright: 0;
    border-radius-topright: 0;
    border-radius-bottomleft: 3px;
    border-radius-topleft: 3px;
}

/* Rightmost button */
.slingshot .linked .button:last-child,
.slingshot .linked .button:active:last-child,
.slingshot .linked .button:active:hover:last-child,
.slingshot .linked .button:focus:last-child,
.slingshot .linked .button:focus:active:last-child,
.slingshot .linked .button:insensitive:last-child {
    border-right-width: 0px;
    border-radius-bottomright: 3px;
    border-radius-topright: 3px;
    border-radius-bottomleft: 0;
    border-radius-topleft: 0;
}

/* Linked single button */
.slingshot .linked .button:only-child,
.slingshot .linked .button:active:only-child,
.slingshot .linked .button:active:hover:only-child,
.slingshot .linked .button:focus:only-child,
.slingshot .linked .button:focus:active:only-child,
.slingshot .linked .button:insensitive:only-child {
    border-width: 1px;
    border-radius: 2.5px;
}

.slingshot .separator {
    background-color: rgba(0, 0, 0, 0);
}
