@import url(../../feren/cinnamon/cinnamon.css);

.panel-top, .panel-bottom, .panel-left, .panel-right {
  color: #000000;
  background-color: rgba(255, 255, 255, 0.6); }
.panel-dummy {
  background-color: rgba(255, 255, 255, 0.5); }
  .panel-dummy:entered {
    background-color: rgba(255, 255, 255, 0.6); }
.panel-status-button {
  color: black; }

#keyboard {
  background-color: rgba(255, 255, 255, 0.6); }

.keyboard-key {
  color: #000000;
  background-color: rgb(255, 255, 255); }
  .keyboard-key:active, .keyboard-key:checked {
    color: #000000;
    background-color: rgb(128, 128, 128); }
  .keyboard-key:grayed {
    color: #9F9F9F;
    background-color: rgba(146, 146, 146, 0.25); }

.keyboard-subkeys {
  color: #000000;
  -arrow-background-color: #FFFFFF; }

.window-list-item-box {
  background-color: transparent;
  padding-top: 0;
  padding-left: 8px;
  padding-right: 8px;
  transition-duration: 100;
  color: #000000;
  border-color: rgba(0, 0, 0, 0.27); }
  .window-list-item-box:hover, .window-list-item-box:groupFocus { }
  .window-list-item-box:active, .window-list-item-box:checked, .window-list-item-box:focus, .window-list-item-box:running {
    border-color: black; }

.grouped-window-list-item-box {
  color: rgb(0, 0, 0); }
  .grouped-window-list-item-box:active {
    border-color: rgba(0, 0, 0, 0.45); }
  .grouped-window-list-item-box:focus, .grouped-window-list-item-box:checked {
    border-color: black; }

.applet-separator-line {
  background: rgba(0, 0, 0, 0.12); }
  .applet-separator-line-vertical {
    background: rgba(0, 0, 0, 0.12); }
.applet-box {
  color: black; }
  .applet-box:checked {
    color: #000000;
    background-color: rgba(0, 0, 0, 0.15); }
    .applet-box:hover-label, .applet-box:checked-label {
      color: #000000; }
  .applet-box:highlight {
    background-color: rgba(0, 0, 0, 0.075); }
.applet-label {
  color: black; }
  .applet-label:hover, .applet-label:checked, .applet-box:hover > .applet-label, .applet-box:checked > .applet-label {
    color: #000000; }
.applet-icon {
  color: #000000; }
  .applet-icon:hover, .applet-icon:checked, .applet-box:hover > .applet-icon, .applet-box:checked > .applet-icon {
    color: #000000; }

.desklet {
  color: black; }
  .desklet-with-borders {
    background-color: rgba(230, 230, 230, 0.86);
    color: black; }
  .desklet-with-borders-and-header {
    background-color: rgba(230, 230, 230, 0.86);
    color: black; }
  .desklet-header {
    background-color: rgba(230, 230, 230, 0.86);
    color: black; }

.photoframe-box {
  background-color: rgba(230, 230, 230, 0.86);
  color: black; }
